// Variables
$defaultFontFamily: 'Roboto';

body,
html {
  scroll-behavior: smooth;
  font-family: $defaultFontFamily;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

@media (min-width: 992px) {
  .masthead h1 {
    font-size: 5.5rem;
  }

  .portfolio-item {
    &:hover {
      & img {
        clip-path: inset(2rem);
        }
      & .caption {
        background-color: rgba(29, 128, 159, 0.9);
        clip-path: inset(2rem);
        }
      }
    & img {
      transition: clip-path 0.25s ease-out;
      clip-path: inset(-1px);
    }
    & .caption {
      transition: clip-path 0.25s ease-out, background-color 0.7s;
      clip-path: inset(0px);
      & .caption-content {
        transition: opacity 0.25s;
        margin: auto auto 3rem 3rem;
        }
      }
    }
}

// menu button
.menu-toggle {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 3rem;
  z-index: 999;
  &:hover {
    background: #343a40;
  }
  &:focus,&:hover {
    color: #fff;
  }
}

// side menu
#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: #6f869a;
}

.sidebar-nav {
  position: absolute;
  top: 5rem;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  & li a:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
  }
}

.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

.masthead {
  min-height: 100vh;
  position: relative;
  padding-top: 3rem;
  background: url("../img/bg-masthead.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.btn-xl {
  width: 20rem;
  padding: 1.25rem 2.5rem;
}

#btn-start {
  background: rgba(52, 58, 64, 0.5);
  color: #fff;
  width: auto;
  margin-top: 26rem;
  font-size: 3rem;
  &:hover {
    background: #343a40;
  }
  &:focus,&:hover {
    color: #fff;
  }
}

.content-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}

#about2 {
  background-color: #1D809F;
}

.image-circle {
  display: block;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

#img-nicky {
  width: 15rem;
  height: 15rem;
  background: url("../img/nicky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#img-brenda {
  width: 15rem;
  height: 15rem;
  background: url("../img/brenda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#icon-connection {
  font-size: 2rem;
}

.video-wrapper {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
}

.iframe-video {
	position: absolute;
	width: 100%;
	height: 100%;
  border: none;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

%portfolio-item-caption-shared {
  color: #fff;
}

.portfolio-item {
  & .caption {
    @extend %portfolio-item-caption-shared;
    }
  & .caption-content {
    @extend %portfolio-item-caption-shared;
    margin: auto auto 1rem 1rem;
  & h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
    }
  & p {
    font-weight: 300;
    font-size: 1.2rem;
    }
  }
}

/* Map */
#contact-map {
  height: 30rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.1rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: #155d74;
  }
}

.scroll-top {
  opacity: hide;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 3rem;
  z-index: 999;
  &:hover {
    background: #343a40;
  }
  &:focus,&:hover {
    color: #fff;
  }
}